* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lilita One";
    font-weight: 400;
    font-style: normal;
}
  
body {
    background-color: #002d1e;
    color: #ffffff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.main {
    flex: 1;
    padding: 2rem;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #004d26;
    margin-top: 2rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #004d26;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(97, 51, 51, 0.2);
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.logo img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    animation: rotate 4s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    transition: all 0.3s ease;
}

.nav a {
    margin: 0 1.5rem;
    font-size: 1.2rem;
    color: #ffffff;
    text-decoration: none;
    white-space: nowrap;
}

.nav a:hover {
    opacity: 0.8;
}

.buy-btn, .big-btn {
    padding: 0.5rem 1rem;
    background-color: #99cc33;
    color: #004d26;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.buy-btn:hover, .big-btn:hover {
    background-color: #aadd55;
}

.big-btn {
    display: block;
    margin: 2rem auto;
    font-size: 1.5rem;
    border: none;
    border-radius: 30px;
}

.intro {
    text-align: center;
    margin-bottom: 4rem;
}

.horizontal-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

section {
    margin-bottom: 3rem;
    padding: 0 2rem;
}

section h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.5rem;
}

section p {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

.how-to-buy-section {
    background-color: #ffe4b5;
    color: #004d26;
    padding: 4rem 2rem;
    text-align: center;
    border-radius: 15px;
    margin: 2rem auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#section-title {
    color: #002d1e;
}

.steps-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.step {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    width: 80%;
    max-width: 50rem;
    background-color: #004d26;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    gap: 1rem; 
}

.step-content {
    flex: 1; 
    text-align: left; 
}

.step img {
    flex-shrink: 0;
    width: 150px; 
    height: auto;
    border-radius: 10px;
    border: 2px solid #ffffff;
    margin-left: 10px;
}

.step h3 {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
    color: #ffffff;
}

.step p {
    font-size: 1rem;
    color: #ffffff;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px; 
}

.social-icons a svg {
    width: 36px; 
    height: 36px;
    transition: transform 0.2s ease; 
}

.social-icons a svg:hover {
    transform: scale(1.1); 
}

.about p {
    margin-bottom: 20px; 
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        justify-content: center;
        margin-top: 1rem;
    }

    .big-btn {
        width: 90%;
    }

    .horizontal-image img {
        width: 100%;
    }

    section h2 {
        font-size: 2rem;
    }

    section p {
        font-size: 1rem;
    }

    .buy-btn {
        padding: 0.5rem;
        font-size: 1rem;
    }

    .nav a {
        display: none; 
    }

    .step {
        flex-direction: column; 
        align-items: center;
    }

    .step-content {
        text-align: center; 
    }

    .step img {
        width: 150px;
        margin: 1rem 0 0 0; 
    }
}
